.Track {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 20px;
}
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container2 {
  display: flex;
  flex-direction: column;
}

.pTrack {
  font-weight: 100;
}
.trackButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 0;
  height: 0;
  color: white;
  font-size: 32px;
  background: none;
  outline: none;
  border: none;
  vertical-align: middle;
  transition: box-shadaow 1s ease;
}
.trackButton:hover {
  box-shadow: 0 0 5px 5px white;
}

.audio {
  height: 15px;
}

.audio::-webkit-media-controls-panel {
  background-color: white;
}
